@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #1e1b4b;
}

/* Header */
.main-heading {
  color: white;
  font-size: 30px;
}

.new-destination {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  background: linear-gradient(92.88deg, rgb(69, 94, 181) 9.16%, rgb(86, 67, 204) 43.89%, rgb(103, 63, 215) 64.72%);
  transition: all 0.5s ease 0s;
}

.new-destination:hover {
  box-shadow: rgb(80 63 205 / 50%) 0px 1px 40px;
  transition: all 0.1s ease 0s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

/* The grid */
.places-grid {
  display: grid;
  grid-template: auto / repeat(3, 320px);
  gap: 30px;
  margin: 20px 100px;
}

/* The card */
.card-image {
  width: 320px;
}

.travel-status-icon {
  width: 23px;
}

.place-card {
  background-color: #0a3e5c;
}

.country-name, .region-name {
  color: #d1d5db;
}

.city-name {
  font-weight: bold;
  font-size: 23px;
  color: white;
  padding: 5px 15px;
}

.place-location {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  padding: 17px 15px;
}

.travel-status-button, .remove-button {
  background: none;
  border: 1px solid #9ca3af;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 14px;
  padding: 5px 7px;
}

.travel-status-button:hover, .remove-button:hover {
  background: #9ca3af;
}

/* Dialog */
dialog {
  padding: 30px;
  border-radius: 12px;
  border: none;
  background-color: #d6d6e7;
}

/* Form */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 12px;
  display: flex;
  gap: 12px;
}

input, option, .add-destination, .cancel-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

label {
  font-size: 14px;
  font-weight: bold;
}

.add-destination, .cancel-btn {
  margin: 20px 12px 0 15px;
}